<!DOCTYPE html>
<html>

<head>
  <title>DDI-XSLT demo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚙️</text></svg>"/>
  <script src="js/SaxonJS2.js"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
  <style>

  </style>

</head>

<body>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <a id="forkme_banner" href="https://github.com/CDISC-ODM-to-DDI">View on GitHub</a>

        <h1 id="project_title">CDISC-ODM XML to DDI</a></h1>
        <h2 id="project_tagline">XSLT transformations for CDISC ODM XML-files to DDI</h2>
      </header>
  </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <fieldset>
          <legend for="input">Input XML</legend>
          <label for="xml_examples">Load example XML: </label>
          <select id="xml_examples" @change="onXmlChange($event)" v-model="selectedXml">
            <option v-for="o in xmlList" v-bind:value="o.path">{{ o.label }}</option>
          </select><br/>
          Or select your XML file <input type="file" id="xmlFileInput" @change="localXmlFileLoad($event)" accept=".xml"/><br/>(big projects might take a while)</fieldset>
          


          <textarea id="input" v-model="input" rows="20" spellcheck="false" :ondrop="onDrop" placeholder="Drop/paste DDI-file here or select a example from the list"></textarea>
        
        
        </fieldset>

        <fieldset>
          <legend>Transformation</legend>
          <select id="xslt" @change="onXsltChange($event)" v-model="selectedXslt">
            <option v-for="o in xsltList" v-bind:value="o.path">{{ o.label }}</option>
          </select>
        </fieldset>

        <button id="transform" class="button" v-on:click="transform" :disabled="transformationEnabled">Transform XML</button>


        <fieldset>
          <legend for="result">Result</legend>
          <button id="save" class="button" @click="saveXmlFile('ddi-out.xml')">Save result XML</button>
          <textarea id="result" v-model="result" rows="30" spellcheck="false" placeholder="XSLT trasformation result"></textarea>
        </fieldset>
    </section>
  </div>
  <script>
    Vue.createApp({
      data() {
        return {
          xsltList: [
            {
              label: 'REDCap CDISC ODM-XML to DDI 2.5',
              path: './xsl/redcap/DDI_Codebook/redcapodm_to_ddic_2_5_all.xsl'
            },
          ],
          xmlList:[
            {
              label: 'Select example XML',
              path: null
            },
            {
              label: 'REDCap - Basic Demography',
              path: './xml/examples/BasicDemography_2025-12-04_1400.REDCap.xml'
            },
            {
              label: 'REDCap - Classic Database',
              path: './xml/examples/ClassicDatabase_2025-12-04_1358.REDCap.xml'
            },
            {
              label: 'REDCap - Longitudinal Database',
              path: './xml/examples/LongitudinalDatabase_2025-12-04_1359.REDCap.xml'
            },
            {
              label: 'REDCap - Single Survey',
              path: './xml/examples/SingleSurvey_2025-12-04_1359.REDCap.xml'
            }, 
 
            {
              label: 'REDCap - Multiple Surveys - Classic',
              path: './xml/examples/MultipleSurveysClass_2025-12-04_1400.REDCap.xml'
            },
            {
              label: 'REDCap - Multiple Surveys - Longitudinal',
              path: './xml/examples/MultipleSurveysLongi_2025-12-04_1400.REDCap.xml'
            },
          ],
          selectedXslt: null,
          selectedXml: null,
          input: '',
          xslt: '',
          result: ''
        }
      },
      mounted() {
        this.selectedXslt = this.xsltList[0].path;
        this.selectedXml = this.xmlList[0].path;
        this.getRemoteXml();
        this.getRemoteXslt();
      },
      computed: {
        transformationEnabled(){
          return this.input == '' || this.xslt == '';
        }
      },
      methods: {
        onXsltChange(event){
          this.getRemoteXslt();
        },
        onXmlChange(event){
          this.getRemoteXml();
        },
        onDrop(event){
          event.preventDefault();
          var file = event.dataTransfer.files[0];
          var reader = new FileReader();
          var ref = this;
          reader.onload = function(e) {
            ref.input = e.target.result;
            ref.transform();
          }

          reader.readAsText(file,"UTF-8");
        },
        getRemoteXml(){
          if(this.selectedXml != null){
            fetch(this.selectedXml)
            .then(response => response.text())
            .then(data => {
              this.input = data;
              this.transform();
            });
          }
        },
        getRemoteXslt(){
          fetch(this.selectedXslt)
          .then(response => response.text())
          .then(data => {
            this.xslt = data;
            this.transform();
          });
        },
        localXmlFileLoad(event){
            const file = event.target.files[0]
            //console.log(file)

            if (!file) return;

            const reader = new FileReader();

            var ref = this;
            reader.onload = (e) => {
                ref.input = e.target.result;
                ref.transform()
            }
            
            reader.readAsText(file)
            
        },
        saveXmlFile(fileName){
            var fileAsBlob = new Blob([this.result], { type: 'application/xml' })

            var downloadLink = document.createElement("a")
            downloadLink.download = fileName
            downloadLink.innerHTML = "Download File"
            if (window.webkitURL != null) {
              // Chrome allows the link to be clicked without actually adding it to the DOM.
              downloadLink.href = window.webkitURL.createObjectURL(fileAsBlob)
            } else {
              // Firefox requires the link to be added to the DOM before it can be clicked.
              downloadLink.href = window.URL.createObjectURL(fileAsBlob)
              downloadLink.onclick = destroyClickedElement
              downloadLink.style.display = "none"
              document.body.appendChild(downloadLink)
            }

            downloadLink.click();
        },
        transform(){
          this.result = SaxonJS.XPath.evaluate(`transform(map { 'source-node' : parse-xml($xml), 'stylesheet-text' : $xslt, 'delivery-format' : 'serialized' })?output`, null, { 
            params : { 
              'xml' : this.input, 
              'xslt' : this.xslt 
            } 
          });
        }
      }
    }).mount('#main_content')
  </script>
</body>

</html>